@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --body-bg:#e6e6e6;
    --nav-bg:#f7b600;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline: none;
}

body {
    font-size: 1rem;
    background-color: var(--body-bg);
    font-family: "Lato", sans-serif;
}

.header {
    padding: 1rem .9rem;
    background-color: var(--nav-bg);
    text-align: center;
    position: sticky;
    top: 0;
}

.logo {
    padding: .7rem;
}

.logo-title-white {
    color: #fff;
}

.navbar ul {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    padding: 0 .4rem;
}

#nav-menu {
    display: none;
}

.navbar ul li a {
    color: #fff;
    border-radius: .7rem;
    transition: .3s;
}
.navbar ul li a:link, .navbar ul li a:visited {
    padding: 8px 12px;
}

.navbar ul li a:hover {
    color: #f7b600;
    background-color: #fff;
}

/* MAIN */
#area-principal{
    margin: 0 auto;
    width: 57.5rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}
#area-postagens{
    width: 41.25rem;
}
#area-lateral{
    width: 15rem;
    margin-left: 1.2rem;
}
.postagem{
    padding: 1rem;
    background-color: #fff;
}
.postagem-imagem{
    width: 39rem;
}
.postagem-titulo{
    color: #f7b600;
}
.postagem-data{
    font-size: 0.8rem;
    display: block;
    padding-bottom: 0.8rem;
}
.postagem p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.8rem;
}
.postagem a{
    text-decoration: none;
}
.postagem a:visited, .postagem a:link {
    color: #f7b600;
}
.postagem a:hover{
    text-decoration: underline;
}
.texto-postagem-lateral {
    background-color: #fff;
    margin-bottom: .6rem;
}
.texto-postagem-lateral p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: .4rem 0;
}
.conteudo-lateral-titulo {
    padding: .6rem .6rem;
    background-color: #CCC;
    
}
.conteudo-lateral {
    background-color: #fff;
    margin-bottom: .6rem;
    padding: 1rem;
}
.conteudo-lateral a {
    color: #f7b600;
    margin: .1rem 0;
}
.conteudo-lateral a:hover {
    transition: .3s ease;
    color: #d69e04;
    text-decoration: underline;

}
.navegacao-lateral {
    display: flex;
    flex-direction: column;
}
.conteudo-lateral-titulo {
    font-size: 14pt;
}
.texto-postagem-lateral hr {
    margin: .5rem 0;
}


footer {
    max-width: 57.5rem;
    margin: 0 auto;
    background-color: #CCC;
    text-align: center;
    margin-top: 1rem;

}
/* RESPONSIVIDADE */
@media (max-width:600px) {
    
    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-title {
        font-size: 18pt;
    }
    .navbar ul {
        display: none;
    }

    .navbar #nav-menu {
        display: block;
        width: 1.4rem;
    }
}